<% provide(:title, "My Profile") %>

<div class="bg-white text-black pt-6 md:mt-12 md:pt-12">
	  <div class="container pt-10 pb-10">
	    <h1 class="lg:text-3xl text-lg mb-4"><%= @user.username.capitalize %>'s Profile</h1>
      <%= link_to "View contacts", contacts_path, class: "btn btn-purple btn-small" %>
	  </div>
</div>

<% content_for :primary_content do %>
  <div class="grid md:grid-cols-2 gap-4">

    <% if @user.posts.present? && @user.projects.present? %>

      <div class="grid col-span-1" id="profile_posts">
        <div class="shadow-lg rounded">
          <div class="text-title text-center py-6 text-white bg-pink-400"><%= "Posts".upcase %></div>
          <% @user.posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
        </div>
      </div>

      <div class="grid col-span-1" id="profile_projects">
        <div class="shadow-lg rounded">
          <div class="text-title text-center py-6 text-white bg-black"><%= "Projects".upcase %></div>
          <% @user.projects.each do |project| %>
            <%= render 'projects/project', project: project %>
          <% end %>
        </div>
      </div>

    <% elsif @user.posts.present? && !@user.projects.present? %>

      <div class="grid md:col-span-2" id="profile_posts">
        <div class="shadow-lg rounded">
          <div class="text-title text-center py-6 text-white bg-pink-400"><%= "Posts".upcase %></div>
          <% @user.posts.each do |post| %>
            <%= render 'posts/post', post: post %>
          <% end %>
        </div> 
      </div>

    <% elsif @user.projects.present? && !@user.posts.present? %>

      <div class="grid md:col-span-2" id="profile_projects">
        <div class="shadow-lg rounded">
          <div class="text-title text-center py-6 text-white bg-black"><%= "Projects".upcase %></div>
          <% @user.projects.each do |project| %>
            <%= render 'projects/project', project: project %>
          <% end %>
        </div>
      </div>

    <% end %>

  </div>
 <% end %>

<% content_for :secondary_content do %>
  <div class="p-4 text-center">
    <%#= gravatar_for(@user) %>
    <h4><%= @user.username %></h4>
    <div class="italic text-sm text-gray-600">Joined <%= time_ago_in_words(@user.created_at) %> ago</div>

    <% if user_signed_in? %>
      <%= link_to "New post", new_post_path, class: "btn btn-outline btn-small w-full block my-2" %>
      <%= link_to "New gallery", new_gallery_path, class: "btn btn-outline btn-small w-full block my-2" %>
      <%= link_to 'Add project', new_project_path, class: "btn btn-black btn-small w-full block my-2" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-white btn-small w-full block my-2" %>
      <%= link_to "Sign Up", new_user_session_path, class: "btn btn-purple btn-small w-full block my-2" %>
    <% end %>
  </div>
<% end %>

<%= render 'basic_layout' %>