<div class="grid grid-cols-1 gap-4 pt-12 mt-12 md:pt-0 md:mt-0 md:grid-cols-6">
  <div class="col-span-1 md:col-span-2">
    <div class="text-center md:text-left md:my-10 md:mr-10 md:pr-10">
      <%= link_to "Sara Thayer".upcase, root_path, class: "flex justify-center text-site-title text-black hover:text-gray-700" %>
    </div>
  </div>
  <div class="col-span-1 mt-10 md:mt-8">
    <div class="vertical-line-footer">
      <%= link_to t('gallery_link').upcase, index_galleries_path, class: "flex justify-center md:justify-start text-sidebar-nav text-l text-black mt-4 hover:text-gray-700 md:pl-5" %>
      <%= link_to t('about_link').upcase, about_path, class: "flex justify-center md:justify-start text-l text-sidebar-nav text-black mt-4 hover:text-gray-700 md:pl-5" %>
      <%= link_to t('contact_link').upcase, new_contact_path, class: "flex justify-center md:justify-start text-sidebar-nav text-l text-black mt-4 hover:text-gray-700 md:pl-5" %>
      <ul class="list-none md:pl-5">
        <li class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light"><%= link_to "hello@sarathayer.com", "mailto:hello@sarathayer.com", class: "no-underline text-gray-600 hover:text-gray-700 mt-1 leading-tight" %></li>
        <li class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light"><%= link_to "+1 (503) 446-5077", "tel:+15034465077", class: "no-underline text-gray-600 hover:text-gray-700 mt-1 leading-tight" %></li>
      </ul>
    </div>
  </div>
  <div class="col-span-1 mt-2 md:mt-8">
    <div class="vertical-line-footer">
      <div class="flex justify-center md:justify-start text-sidebar-nav text-l text-black mt-4 md:pl-5"><%= t('projects_link').upcase %></div>
      <ul class="list-none md:pl-5">
        <li><%= link_to t('arc_design_link'), arc_design_path, class: "flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1" %></li>
        <li><%= link_to t('graphic_design_link'), graphic_design_path, class: "flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1" %></li>
        <li><%= link_to t('illustration_link'), illustration_path, class: "flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1" %></li>
        <li><%= link_to t('product_design_link'), product_design_path, class: "flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1" %></li>
      </ul>
      <%= link_to t('posts_link').upcase, posts_path, class: "flex justify-center md:justify-start text-sidebar-nav text-l text-black mt-4 hover:text-gray-700 md:pl-5" %>
    </div>
  </div>
  <div class="col-span-1 md:mt-8">
    <div class="vertical-line-footer">
      <div class="flex justify-center md:justify-start text-sidebar-nav text-l text-black md:mt-4 md:pl-5"><%= t('learn_more_link').upcase %></div>
      <ul class="list-none md:pl-5">
        <li class="text-paragraph-body tracking-wide text-xs font-light">
          <%= link_to "https://www.coretheorystudios.com", target: "_blank", rel: "noopener" do %>
            <span class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1">Core Theory
              <%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
            </span>
          <% end %>
        </li>
        <li class="text-paragraph-body tracking-wide text-xs font-light">
          <%= link_to "https://www.thegridpdx.com", target: "_blank", rel: "noopener" do %>
            <span class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1">The Grid
              <%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
            </span>
          <% end %>
        </li>
        <li class="text-paragraph-body tracking-wide text-xs font-light">
          <%= link_to "https://www.linkedin.com/in/sarathayer", target: "_blank", rel: "noopener" do %>
            <span class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1">LinkedIn
              <%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
            </span>
          <% end %>
        </li>
        <li class="text-paragraph-body tracking-wide text-xs font-light">
          <%= link_to "https://www.behance.net/ssarasvati", target: "_blank", rel: "noopener" do %>
            <span class="flex justify-center md:justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-600 hover:text-gray-700 mt-1">Behance
              <%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-span-1 md:col-span-1"></div>
    
  </div>
</div>