<title><%= full_title(yield(:title)) %></title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>

<link rel="stylesheet" href="https://use.typekit.net/xjh0zui.css">
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://spermwhale.sarathayer.com/script.js" site="JYVTDKWS" defer></script>
<!-- / Fathom -->
<script src="https://hcaptcha.com/1/api.js" async defer></script>