<div class="flex justify-between px-4 md:mt-12 md:pt-12">
  <div class="md:mt-2 md:pt-0">
  <%= link_to 'Sara Thayer'.upcase, root_path, class: "pl-6 text-title text-2xl text-black my-10 hover:text-gray-700 align-middle pt-4 md:hidden" %>
  </div>
  
  <div data-controller="dropdown" class="pt-2">
    <%= link_to "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "md:hidden hover:text-gray-700" do %>
      <%= render_svg 'icons/grid', styles: "icon-md fill-current" %>
    <% end %>

    <div data-target="dropdown.menu" class="absolute left-0 dropdown text-sidebar-nav" aria-expanded="false">

      <div class="grid grid-cols-1 mt-4 pt-4 pl-4 pr-12 pb-6 bg-white rounded shadow-lg">
        <%= link_to t('about_link').upcase, about_path, class: "block flex justify-start text-l text-black pr-4 mt-4 hover:text-gray-700" %>
        <%= link_to t('gallery_link').upcase, gallery_path, class: "block flex justify-start text-l text-black pr-4 mt-4 hover:text-gray-700" %>
        <div data-controller="dropdown">
          <%= link_to t('projects_link').upcase, "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "block flex justify-start text-l text-black pr-4 mt-4 hover:text-gray-700" %>
          <div data-target="dropdown.menu" class="dropdown pt-2" aria-expanded="false">
            <div class="vertical-line-projects">
              <div class="py-0 my-0 pl-4">
                <ul class="list-none"><%= link_to t('arc_design_link'), arc_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %>
                <li><%= link_to t('graphic_design_link'), graphic_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
                <li><%= link_to t('illustration_link'), illustration_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
                <li><%= link_to t('product_design_link'), product_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <%= link_to t('contact_link').upcase, contact_new_form_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
      </div>
      <%= render "shared/user_dropdown" %>
    </div>
  </div>

</div>

<div class="sidebar-nav-main text-sidebar-nav">
  <div class="flex justify-center">
    <div class="grid grid-cols-1">
    <%= link_to "Sara Thayer".upcase, root_path, class: "block flex justify-start text-2xl text-black my-10 hover:text-gray-700" %>
    <%= link_to t('about_link').upcase, about_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
    <%= link_to t('gallery_link').upcase, gallery_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
      <div data-controller="dropdown">
        <%= link_to t('projects_link').upcase, "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
        <div data-target="dropdown.menu" class="dropdown pt-2" aria-expanded="false">
          <div class="vertical-line-projects">
            <div class="py-0 my-0 pl-4">
              <ul class="list-none"><%= link_to t('arc_design_link'), arc_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %>
                <li><%= link_to t('graphic_design_link'), graphic_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
                <li><%= link_to t('illustration_link'), illustration_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
                <li><%= link_to t('product_design_link'), product_design_path, class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <%= link_to t('contact_link').upcase, contact_new_form_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
    <%= render "shared/user_dropdown" %>
    </div>
  </div>
</div>