<div class="flex justify-between py-2 px-4">
  <%= link_to 'Sara Thayer'.upcase, root_path, class: "md:hidden bg-yellow-500 hover:text-purple-500 focus:text-purple-500 focus:outline-none" %>
  
  <div data-controller="dropdown">
    <%= link_to "#", data: { action: "click->dropdown#toggle" }, class: "md:hidden bg-red-100 hover:text-purple-500 focus:text-purple-500 focus:outline-none" do %>
      <%= render_svg 'icons/grid', styles: "icon-md fill-current" %>
    <% end %>

    <div data-target="dropdown.menu" class="dropdown mt-10 pt-12">
      <%= link_to "About".upcase, projects_path, class: "block flex justify-center text-black pr-8 mt-4 hover:text-gray-700" %>
      <%= link_to "Gallery".upcase, projects_path, class: "block flex justify-center text-black pr-6 mt-4 hover:text-gray-700" %>
      <%= link_to "Projects".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
      <%= link_to "Contact".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
    </div>
  </div>

</div>

<%= render "shared/user_dropdown" %>

<div class="sidebar-nav-main mt-10 pt-12">
  <%= link_to "About".upcase, projects_path, class: "block flex justify-center text-black pr-8 mt-4 hover:text-gray-700" %>
  <%= link_to "Gallery".upcase, projects_path, class: "block flex justify-center text-black pr-6 mt-4 hover:text-gray-700" %>
  <%= link_to "Projects".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
  <%= link_to "Contact".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
</div>