<div class="sidebar js-nav">
  <div class="w-full">
    
    <div class="flex items-center justify-between px-4 py-3">
      <div>
        <%= link_to 'Sara Thayer'.upcase, root_path, class: "bg-yellow-500 hover:text-purple-500 focus:text-purple-500 focus:outline-none" %>
      </div>

      <div>
        <button type="button" class="block bg-red-500 text-black p-1 focus:text-purple-500 focus:outline-none hover:text-purple-500">
          <%= render_svg 'icons/grid', styles: "icon-md fill-current" %>
        </button>
      </div>
    </div>

    <div class="px-2 pt-2 pb-4">
      <%= link_to 'About'.upcase, root_path, class: "block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Gallery'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Projects'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Contact'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
    </div>
    
    <div class="flex justify-around pr-1">
      <% if user_signed_in? %>
        <div class="dropdown rounded bg-white border border-gray-400 text-gray-600 ml-1 hover:bg-gray-200">
          <div class="dropdown-content pt-2 pb-2 pl-3 pr-1">
            <%= link_to "#", class: "js-dropdown-user-target no-underline flex justify-between text-gray-700 uppercase text-xs tracking-wide items-center font-semibold" do %>
              <%= current_user.username  if current_user.username %>
              <%= render_svg 'icons/chevron-down' %>
            <% end %>
            <ul class="list-reset hidden dropdown-list absolute pin-l rounded-b border border-gray-500 shadow">
              <h5 class="mt-2 uppercase text-xs text-gray-500 font-normal py-2 pl-3 tracking-wide">My Stuff</h5>

              <li>
                <%= link_to profile_path(current_user), class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-2 flex items-center text-sm" do %>
                  <%= render_svg 'icons/person-badge', styles: "icon-md fill-current text-gray-600 mr-3" %> My Profile
                <% end %>
              </li>

              <li>
                <%= link_to edit_user_registration_path, class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-2 flex items-center text-sm" do %>
                  <%= render_svg 'icons/sliders', styles: "icon-md fill-current text-gray-600 mr-3" %> Account Settings
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "hover:bg-purple-500 hover:text-white text-gray-700 no-underline block py-2 px-2 rounded-b flex items-center text-sm"  do %>
                 <%= render_svg 'icons/door-closed', styles: "icon-md fill-current text-gray-600  mr-3" %> Sign out
                <% end %>
              </li>

            </ul>
          </div>
        </div>
      <% end %>
    </div>

    </div>

    <div class="w-full flex flex-wrap items-center justify-center px-4 py-2">
      
      <div class="text-center mt-5 items-center">
        <%= link_to "PROJECTS", projects_path, class: "text-black" %>
      </div>

    </div>
</div>