<div class="flex justify-between py-2 px-4">
  <%= link_to 'Sara Thayer'.upcase, root_path, class: "md:hidden bg-yellow-500 hover:text-purple-500 focus:text-purple-500 focus:outline-none" %>

  <dropdown>
    <%= link_to "#", slot: "link", class: "md:hidden bg-red-100 hover:text-purple-500 focus:text-purple-500 focus:outline-none" do %>
      <%= render_svg 'icons/grid', styles: "icon-md fill-current" %>
    <% end %>

    <div slot="dropdown-items" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white border overflow-hidden">
      <%= link_to 'About'.upcase, root_path, class: "block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Gallery'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Projects'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
      <%= link_to 'Contact'.upcase, root_path, class: "mt-1 block px-2 py-1 font-semibold rounded hover:bg-purple-500 hover:text-white focus:bg-purple-500 hover:text-white focus:outline-none" %>
    </div>

  </dropdown>
</div>

<%= render "shared/user_dropdown" %>

<div class="sidebar-nav-main mt-10 pt-12">
  <%= link_to "About".upcase, projects_path, class: "block flex justify-center text-black pr-8 mt-4 hover:text-gray-700" %>
  <%= link_to "Gallery".upcase, projects_path, class: "block flex justify-center text-black pr-6 mt-4 hover:text-gray-700" %>
  <%= link_to "Projects".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
  <%= link_to "Contact".upcase, projects_path, class: "block flex justify-center text-black pr-4 mt-4 hover:text-gray-700" %>
</div>