<div class="flex justify-between px-4">
  <div>
  <%= link_to 'Sara Thayer'.upcase, root_path, class: "md:hidden hover:text-purple-500 focus:text-purple-500 focus:outline-none" %>
  </div>
  
  <div data-controller="dropdown">
    <%= link_to "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "md:hidden bg-red-100 hover:text-purple-500 focus:text-purple-500 focus:outline-none" do %>
      <div>
        <%= render_svg 'icons/grid', styles: "icon-md fill-current" %>
      </div>
    <% end %>

    <div data-target="dropdown.menu" class="dropdown mt-10 pt-12 text-sidebar-nav" aria-expanded="false">
      <div class="flex justify-center">
        <div class="grid grid-cols-1">
          <%= link_to "Sara Thayer".upcase, root_path, class: "block flex justify-start text-2xl text-black my-10 hover:text-gray-700" %>
          <%= link_to "About".upcase, about_path, class: "block flex justify-center text-l text-black pr-8 mt-4 hover:text-gray-700" %>
          <%= link_to "Gallery".upcase, projects_path, class: "block flex justify-center text-l text-black pr-6 mt-4 hover:text-gray-700" %>
          <div data-controller="dropdown">
            <%= link_to "Projects".upcase, "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
            <div data-target="dropdown.menu" class="dropdown pt-2" aria-expanded="false">
              <ul class="list-none"><%= link_to "Architectural Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %>
              <li><%= link_to "Graphic Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
              <li><%= link_to "Illustration", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
              <li><%= link_to "Product Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
              </ul>
            </div>
          </div>
          <%= link_to "Contact".upcase, projects_path, class: "block flex justify-center text-l text-black pr-4 mt-4 hover:text-gray-700" %>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render "shared/user_dropdown" %>

<div class="sidebar-nav-main text-sidebar-nav">
  <div class="flex justify-center">
    <div class="grid grid-cols-1">
    <%= link_to "Sara Thayer".upcase, root_path, class: "block flex justify-start text-2xl text-black my-10 hover:text-gray-700" %>
    <%= link_to "About".upcase, about_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
    <%= link_to "Gallery".upcase, projects_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
      <div data-controller="dropdown">
        <%= link_to "Projects".upcase, "#", data: { action: "click->dropdown#toggle click@window->dropdown#hide" }, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
        <div data-target="dropdown.menu" class="dropdown pt-2" aria-expanded="false">
          <ul class="list-none"><%= link_to "Architectural Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %>
          <li><%= link_to "Graphic Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
          <li><%= link_to "Illustration", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
          <li><%= link_to "Product Design", "#", class: "flex justify-start text-paragraph-body tracking-wide text-xs font-light text-gray-500 hover:text-gray-700" %></li>
          </ul>
        </div>
      </div>
    <%= link_to "Contact".upcase, projects_path, class: "block flex justify-start text-l text-black mt-4 hover:text-gray-700" %>
    </div>
  </div>
</div>