<% provide(:title, "Contact") %>
<div class="grid grid-cols-1 gap-4 mb-12 pb-12 pt-6 md:grid-cols-3 md:mt-12 md:pt-12">
	<div class="pl-6 pb-6 mb-6 md:col-span-3">
	<%= image_tag "photos/Final_Section_SCIARC.png", alt: "Thesis Large Chunk" %>
	</div>

	<div class="pl-6 md:col-span-2">
		<div class="text-title">
			<h1 class=text-3xl><%= t('.contact_us').upcase %></h1>
		</div>
    <div>
	    <%= form_with(model: @contact, local: true) do |form| %>

	    	<% if @contact.errors.any? %>
		      <div id="error_explanation" class="border-red-400 p-4 rounded border bg-red-100 mb-6">
		        <h2 class="text-sm heading text-red-500"><%= pluralize(@contact.errors.count, "error") %> prohibited your message from being sent:</h2>

		        <ul class="text-sm mt-2 text-red-500 pl-4 list-disc">
		        <% @contact.errors.full_messages.each do |message| %>
		          <li><%= message %></li>
		        <% end %>
		        </ul>
		      </div>

		    <% end %>

		    <div class="mt-6 mb-6">
			    <%= form.label t('.company').upcase, class: 'text-title text-lg font-light label' %>
			    <%= form.text_field :company, required: false, maxlength: 50, class: 'input' %>
		  	</div>

		    <div class="flex mb-6">
			    <div class="flex-1 name">
				    <%= form.label t('.name').upcase, class: 'text-title text-lg font-light label' %>
				    <%= form.text_field :name, required: true, class: 'input' %>
			  	</div>
		  	</div>

		    <div class="mb-6">
			    <%= form.label t('.email').upcase, class: 'text-title text-lg font-light label' %>
			    <%= form.email_field :email, required: true, maxlength: 250, class: 'input' %>
		  	</div>

		    <div class="mb-6">
			    <%= form.label t('.message').upcase, class: 'text-title text-lg font-light label' %>
			    <%= form.text_area :message, as: :text, required: true, minlength: 20, maxlength:2000, class: 'input' %>
		  	</div>

		 		<div class="hidden">
			    <%= form.label :nickname,  class: 'hidden' %>
			    <%= form.text_field :nickname, class: 'hidden' %>
				</div>

		    <div class="mb-6">
			    <%= form.submit t('.send_message'), class: "btn btn-black" %>
			  </div>
		  <% end %>


    </div>
	</div>

	<div class="about-extra-content md:col-span-1">
		<div class="vertical-line-contact">
			<div class="text-title pt-0 mt-0 pl-4 mb-4 pb-4"> 
				<h3 class="text-xl"><%= t('contact_link').upcase %></h3>
				<ul class="list-none">
					<li class="text-paragraph-body tracking-wide text-xs font-light"><%= link_to "hello@sarathayer.com", "mailto:hello@sarathayer.com", class: "no-underline text-gray-500 hover:text-gray-700" %></li>
					<li class="text-paragraph-body tracking-wide text-xs font-light"><%= link_to "+1 (503) 446-5077", "tel:+15034465077", class: "no-underline text-gray-500 hover:text-gray-700" %></li>
				</ul>
			</div>

			<div class="text-title pl-4 mt-2 pt-2"> 
				<h3 class="text-xl"><%= t('learn_more_link').upcase %></h3>
				<ul class="list-none">
					<li class="text-paragraph-body tracking-wide text-xs font-light">
						<%= link_to "https://www.coretheorystudios.com", target: "_blank" do %>
							<span class="flex no-underline text-gray-500 hover:text-gray-700">Core Theory
								<%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
							</span>
						<% end %>
					</li>
					<li class="text-paragraph-body tracking-wide text-xs font-light">
						<%= link_to "https://www.thegridpdx.com", target: "_blank" do %>
							<span class="flex no-underline text-gray-500 hover:text-gray-700">The Grid
								<%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
							</span>
						<% end %>
					</li>
					<li class="text-paragraph-body tracking-wide text-xs font-light">
						<%= link_to "https://www.linkedin.com/in/sarathayer", target: "_blank" do %>
							<span class="flex no-underline text-gray-500 hover:text-gray-700">LinkedIn
								<%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
							</span>
						<% end %>
					</li>
					<li class="text-paragraph-body tracking-wide text-xs font-light">
						<%= link_to "https://www.behance.net/ssarasvati", target: "_blank" do %>
							<span class="flex no-underline text-gray-500 hover:text-gray-700">Behance
								<%= render_svg 'icons/arrow-right-short', title: "Go to Core Theory website", styles: "fill-current pt-1 icon-sm" %>
							</span>
						<% end %>
					</li>
				</ul>
			</div>
		</div>	
	</div>


</div>