
<div class="w-full">

  <div class="px-1 my-2">
    <div class="px-2 pt-2 pb-2">
      <% cache project do %>
        <% if project.header_image.attached? %>
          <%= link_to image_tag(project.header_image.variant(resize_to_fill: [600, 300])), project %>
        <% end %>


        <div class="pl-4 py-4">
          <div class="flex-1">
            <h1 class="text-title font-bold text-xl"><%= link_to project.title.upcase, project, class: "no-underline" %> <%= link_to project.subtitle.upcase, project, class: "no-underline font-light" if project.subtitle.present? %></h1>
            <h2 class="text-title font-light text-gray-500"><%= project.created_at.to_time.strftime('%B %e, %Y') %></h2>
          </div>
          <div class="text-paragraph-body font-light">
            <%= project.project_type %>
          </div>
          <div class="text-paragraph-body font-light">
            <%= project.year %>
          </div>

          <% if user_signed_in? && current_user.id == project.user_id  %>
            <div class="pt-2 flex flex-wrap items-center">
              <%= link_to edit_project_path(project), class: "no-underline mr-2" do %>
                <%= render_svg 'icons/pencil-square', title: "Edit", styles: "fill-current text-gray-500 icon-sm" %>
              <% end %>

              <%= link_to project, method: :delete, class: "no-underline", data: { confirm: 'Are you sure?' } do %>
                <%= render_svg 'icons/trash', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
