<% content_for :primary_content do %>
  <% if @projects.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4">
      <%= render @projects %>
    </div>
  <% else %>
    <div class="block justify-center p-10 text-center">
      <div class="flex justify-center pb-4">
        <%= render_svg 'icons/pen' %>
      </div>
      <p class="mb-4">Coming soon... </p>
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Create a new project', new_project_path, class: "flex block justify-center btn btn-black btn-small" %>
        <% end %>
    </div>
  <% end %>
<% end %>



<% content_for :secondary_content do %>
  <%= link_to 'New project', new_project_path, class: "btn btn-black btn-small" %>
<% end %>



<%= render "index_layout" %>
