<% content_for :primary_content do %>
  <% if @projects.exists? %>
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4">
      <%= render @projects %>
    </div>
  <% else %>
    <div class="flex justify-center p-10 text-center">
      <%= render_svg 'icons/emoji-expressionless' %>
      <p class="mb-4">Wow such empty... </p>
      <%= link_to 'Create a new project', new_project_path, class: "btn btn-purple btn-small" %>
    </div>
  <% end %>
<% end %>



<% content_for :secondary_content do %>
  <%= link_to 'New project', new_project_path, class: "btn btn-black btn-small" %>
<% end %>



<%= render "index_layout" %>
