<% content_for :primary_content do %>

	<% if @project.header_image.attached? %>
    <%= image_tag @project.header_image %>
  <% end %>

	<div class="p-4 pb-10 pr-6">
    <div class="flex flex-row flex-wrap items-center justify-between" style="justify-content: center; align-items: center;">

      <div class="text-center justify-center">
        <%= render 'project_by', project: @project %>
        
        <div class="flex flex-wrap w-full text-center justify-center align-items-center mr-5 pr-8 ml-0 pl-0">
          <div class="leading-loose text-center m-auto pb-6 pt-8 my-2 mr-5 pr-8 ml-0 pl-0">
            <div class="text-title leading-tight text-center flex-none text-3xl sm:flex-1 sm:text-4xl md:flex-auto md:text-4xl lg:flex-initial lg:text-5xl xl:flex-1 xl:text-6xl">
            <%= @project.title.upcase %>
            </div>
            <hr class="text-title leading-tight">
            <%= render 'subtitle', project: @project %>
          </div>
        </div>

        <%= render 'project_info', project: @project %>

        <div class="text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
          <%= @project.intro %>
        </div>

        <div class="flex flex-wrap flex-row m-auto">
          <% if @project.body_images[0..1] %>
            <% @project.body_images[0..1].each do |body_image| %>
              <% if body_image.variable? %>
                <%= image_tag body_image.variant(resize_to_fit: [400, 600]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
          <%= @project.body %>
        </div>

        <div class="flex flex-wrap flex-row m-auto">
          <% if @project.body_images[2..5] %>
            <% @project.body_images[2..5].each do |body_image| %>
              <% if body_image.variable? %>
                <%= image_tag body_image.variant(resize_to_fit: [400, 600]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
          <%= @project.outro %>
        </div>

        <div class="flex flex-wrap flex-row m-auto">
          <% if @project.body_images[6..9] %>
            <% @project.body_images[6..9].each do |body_image| %>
              <% if body_image.variable? %>
                <%= image_tag body_image.variant(resize_to_fit: [400, 600]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <% if @project.footer_image.attached? %>
    <%= image_tag @project.footer_image %>
  <% end %>

<% end %>

<%= render "project_layout" %>