<h1>New Contact Details</h1>

<p><b><u>Name</u></b> <%= @contact.first_name %> <%= @contact.last_name %></p>

<p><b><u>Email</u></b> <%= @contact.email %></p>

<p><b><u>Company</u></b> <%= @contact.company %></p>

<p><b><u>Message</u></b></p>
<p><%= @contact.message %></p>

