<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="border-red-400 p-4 rounded border bg-red-100 mb-6">
      <h2 class="text-sm heading text-red-500"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul class="list-disc text-sm mt-2 text-red-500 pl-4">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="mb-6">
    <%= form.label :header_image, class: "label" %>
    <%= form.file_field :header_image, direct_upload: true %>
  </div>

  <div class="mb-6">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :body, class: "label" %>
    <%= form.rich_text_area :body, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :url, class: "label" %>
    <%= form.text_field :url, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :uploads, class: "label" %>
    <%= form.file_field :uploads, multiple: true, direct_upload: true %>
  </div>

  <div class="mb-6">
    <%= form.submit class: "btn btn-black" %>
  </div>
<% end %>
