<div class="block">
  <div class="px-2 pt-2 pb-2 block">
    <%= link_to image_tag(post.header_image.variant(resize_to_limit: [200, 200])), post %>
    <div class="pl-4">
      <h2 class="mb-1 flex flex-wrap items-center text-xl"><%= link_to post.title.upcase, post, class: "text-title no-underline" %> <span class="pl-2 text-xs font-normal font-mono text-blue-400 tracking-tighter"><%= link_to truncate(post.url, length: 18), post.url, class:"no-underline"  if post.url.present? %></span></h2>
      <% if user_signed_in? && current_user.id == post.user_id  %>
        <div class="pt-2 flex flex-wrap items-center">
          <%= link_to edit_post_path(post), class:"no-underline mr-2" do %>
            <%= render_svg 'icons/pencil-square', title: "Edit", styles: "fill-current text-gray-500 icon-sm" %>
          <% end %>

          <%= link_to post, method: :delete, class:"no-underline", data: { confirm: 'Are you sure?' } do %>
            <%= render_svg 'icons/trash', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
