<p class="text-gray-700 font-normal text-sm inline-block">Posted by <%= link_to "#{post.user.username}", posts_path(post.user), class:"no-underline text-gray-700 font-normal hover:text-gray-700 hover:underline" %> <%= time_ago_in_words(post.created_at) %> ago

	<% if user_signed_in? && (current_user.id == post.user_id || current_user.admin?)  %>
    <div class="pt-2 flex justify-left text-left m-auto pb-4">
      <%= link_to edit_post_path(@post), class:"no-underline mr-2" do %>
        <%= render_svg 'icons/pencil-square', title: "Edit", styles: "fill-current text-gray-500 icon-sm" %>
      <% end %>

      <%= link_to @post, method: :delete, class: "no-underline", data: { confirm: 'Are you sure?' } do %>
        <%= render_svg 'icons/trash', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
      <% end %>
    </div>
<% end %>