
<div class="w-full">

  <div class="px-1 my-2">
    <div class="px-2 pt-2 pb-2">
      <% cache post do %>
        <% if post.header_image.attached? %>
          <%= link_to image_tag(post.header_image.variant(resize_to_fill: [600, 300])), post %>
        <% end %>


        <div class="pl-4 py-4">
          <div class="flex-1">
            <h1 class="text-title font-bold text-xl"><%= link_to post.title.upcase, post, class: "no-underline" %> <%= link_to post.url, post, class: "no-underline font-light" if post.url.present? %></h1>
            <h2 class="text-sidebar-nav font-light text-gray-500"><%= post.created_at.to_time.strftime('%B %e, %Y') %></h2>
          </div>
        </div>
      <% end %>
          <% if user_signed_in? && (current_user.id == post.user_id && current_user.admin?)  %>
            <div class="pt-2 flex flex-wrap items-center">
              <%= link_to edit_post_path(post), class: "no-underline mr-2" do %>
                <%= render_svg 'icons/pencil-square', title: "Edit", styles: "fill-current text-gray-500 icon-sm" %>
              <% end %>

              <%= link_to post, method: :delete, class: "no-underline", data: { confirm: 'Are you sure?' } do %>
                <%= render_svg 'icons/trash', title: "Delete", styles: "fill-current text-gray-500 icon-sm" %>
              <% end %>
            </div>
          <% end %>
    </div>
  </div>

</div>