<div class="flex flex-wrap px-2 lg:px-8 mt-2 lg:mt-8 container m-auto" style="justify-content: center; align-items: center;">

  <div class="w-full pr-0 md:pr-6 mb-6">
    <div class="bg-white">
      <%= yield :primary_content %>

      <div class="p-4 pb-10 pr-6">
		    <div class="flex flex-row flex-wrap items-center justify-between" style="justify-content: center; align-items: center;">

		      <div class="text-center justify-center">
		        <%= render 'project_by', project: @project %>
		        
		        <div class="flex flex-wrap w-full text-center justify-center align-items-center mr-5 pr-8 ml-0 pl-0">
		          <div class="leading-loose text-center m-auto pb-6 pt-8 my-2 mr-5 pr-8 ml-0 pl-0">
		            <div class="text-title leading-tight text-center flex-none text-3xl sm:flex-1 sm:text-4xl md:flex-auto md:text-4xl lg:flex-initial lg:text-5xl xl:flex-1 xl:text-6xl">
		            <%= @project.title.upcase %>
		            </div>
		            <% if @project.subtitle.present? %>
		            	<hr class="text-title leading-tight">
		            	<%= render 'subtitle', project: @project %>
            		<% end %>
		          </div>
		        </div>

		        <%= render 'project_info', project: @project %>

		        <div class="grid grid-cols-1">
		          <div><%= image_tag @project.body_images[0] if @project.body_images[0].present? %></div>
						</div>

						<% if @project.intro %>
			        <div class="grid grid-cols-1 text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
			          <%= @project.intro %>
			        </div>
		        <% end %>

		        <% if @project.body %>
			        <div class="grid grid-cols-1 text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
			          <%= @project.body %>
			        </div>
		        <% end %>

		        <% if @project.outro %>
			        <div class="grid grid-cols-1 text-paragraph-body leading-normal text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
			          <%= @project.outro %>
			        </div>
		        <% end %>
							
						<div class="grid grid-cols-1">
		          <div><%= image_tag @project.body_images[1] if @project.body_images[1].present? %></div>
						</div>

						<div class="grid grid-cols-1">
		          <div><%= image_tag @project.body_images[2] if @project.body_images[2].present? %></div>
						</div>

		        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm">
							<div><%= image_tag @project.body_images[3] if @project.body_images[3].present? %></div>
							<div><%= image_tag @project.body_images[4] if @project.body_images[4].present? %></div>
							<div><%= image_tag @project.body_images[5] if @project.body_images[5].present? %></div>
							<div><%= image_tag @project.body_images[6] if @project.body_images[6].present? %></div>
						</div>

		        <div class="grid grid-cols-1 mt-10 pt-10">
							<%= yield :secondary_content %>
		        </div>

		      </div>
		    </div>
		  </div>
    </div>
  </div>

</div>