<div class="grid grid-cols-1 mx-8">

  <div class="bg-white">
    <%= yield :primary_content %>

    <%= render 'project_by', project: @project %>
    
    <% if !@project.title_image.attached? %>
      <p class="text-title text-center font-bold text-2xl sm:text-4xl lg:text-5xl xl:text-6xl">
        <%= @project.title.upcase %>
      </p>
      <% if @project.subtitle.present? %>
      <div class="flex justify-center">
        <%= render 'subtitle', project: @project %>
      </div>
      <% end %>
    <% else %>
      <%= image_tag @project.title_image %>
    <% end %>

    <%= render 'project_info', project: @project %>


		<% if @project.intro %>
      <div class="grid grid-cols-1 text-paragraph-body leading-normal font-light text-gray-600 text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
        <%= @project.intro %>
      </div>
    <% end %>

    <% if @project.body %>
      <div class="grid grid-cols-1 text-paragraph-body leading-normal font-light text-gray-600 text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
        <%= @project.body %>
      </div>
    <% end %>

    <% if @project.outro %>
      <div class="grid grid-cols-1 text-paragraph-body leading-normal font-light text-gray-600 text-base lg:pr-6 mb-5 lg:w-2/3 md:w-3/4 sm:w-3/4 text-left m-auto">
        <%= @project.outro %>
      </div>
    <% end %>
			
		<div class="grid grid-cols-1">
      <div><%= image_tag @project.body_images[0] if @project.body_images[0].present? %></div>
      <div><%= image_tag @project.body_images[1] if @project.body_images[1].present? %></div>
		</div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			<div><%= image_tag @project.body_images[2] if @project.body_images[2].present? %></div>
			<div><%= image_tag @project.body_images[3] if @project.body_images[3].present? %></div>
			<div><%= image_tag @project.body_images[4] if @project.body_images[4].present? %></div>
			<div><%= image_tag @project.body_images[5] if @project.body_images[5].present? %></div>
		</div>
		
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div><%= image_tag @project.body_images[6] if @project.body_images[6].present? %></div>
			<div><%= image_tag @project.body_images[7] if @project.body_images[7].present? %></div>
			<div><%= image_tag @project.body_images[8] if @project.body_images[8].present? %></div>
    </div>
		
		<% if @project.body_images[9].present? %>
      <div class="grid grid-cols-1">
				<div><%= image_tag @project.body_images[9] %></div>
      </div>
    <% end %>

    <div class="grid grid-cols-1">
			<%= yield :secondary_content %>
    </div>
  </div>

</div>