<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body class="relative h-screen overflow-x-hidden">
    
    <%= render "shared/notices" %>   
    <%= render "shared/navbar" %>

    
    <div class="content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
