<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
    <%= render "shared/shim" %>
  </head>

  <body class="bg-gray-300">
    <%= render "shared/notices" %>   
    <div class="min-h-screen md:flex">
      <div class="flex-none w-full md:max-w-xs bg-white text-black">
        <%= render "shared/navbar" %>
      </div>
    
      <div class="flex-1 bg-white pb-12 px-4">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      
    </div>

    <div class="relative w-full bg-gray-300 md:my-12 md:py-12">
      <%= render "shared/footer" %>
    </div>

    <% if Rails.env.development? %>
      <div class="grid grid-cols-1 flex flex-wrap px-4 mx-4 py-4 mb-8 card bg-red-100" style="margin-top: 45px;">
        <p><%= debug(params) if Rails.env.development? %></p>
      </div>
    <% end %>
  </body>
</html>
